[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
flask-restful = "*"
orjson = "*"
mongoengine = "*"
dnspython = "*"
pyjwt = "*"

[scripts]
start="sudo python server.py"

[dev-packages]

[requires]
python_version = "3.9"
